.nav-top{
  margin-top: 24px;
}
.nav-bottom{
  margin-top: 250px;
        margin-bottom: 24px;
        align-self: flex-end;
}
#main_menu:hover{
  background: #ff6f61;
  justify-content: center; 
}

#secondary_menu:hover{
  background: #ff6f61 !important;
}
.sidenav-icon{
  margin-right: 10px;
}
.mat-list-item{
  border-radius: 10px;
  color: white !important;
}
