<div class="row">
  <mat-card  class="card" *ngFor="let item of sylvanianList, let i = index">
      <mat-card-header>
        <div mat-card-avatar class="card-header-image" [ngStyle]="{ 'background-image': 'url(' + image + ')'}"></div>
        <mat-card-title class="card-title">{{item?.fullName}}</mat-card-title>
        <mat-card-subtitle class="sub-title">{{item?.designation}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT37uQ6gOWSZrLzpcbYBv58kUXqjih6_5fa32s5TMWZ0t1doJnZ&usqp=CAU" alt="Photo of a {{item?.fullName}}">
          <mat-card-actions>
            <button mat-button class="card-button" (click)="viewProfile(item?.userId)">View Details</button>
            <button mat-button class="card-button">SHARE</button>
          </mat-card-actions>
 </mat-card>  
</div>
