.card {
  width: 20%;
    margin: 1%;
    height: 370px;
    /* left: 3%; */
    top: 15px;
    min-width: 263px;
    float: left;
  background: #6b5b95;
}

.card-header-image {
  background-size: cover;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card-title{
  color: white;
  font-size: 15px;
}
.sub-title{
  color: white;
  font-size: 12px;
}
.card-button{
  color: white;
}
.mat-card-image {
  width: 114%;
  object-fit: cover;
  height: 61%;
}
