.example-card {
  width: 20%;
    margin: 1%;
    height: 350px;
    /* left: 3%; */
    top: 15px;
    min-width: 263px;
    float: left;
  background: #a893fd;
}

.example-header-image {
  /* background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg'); */
  background-size: cover;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}