<div class="row">
  <mat-card  class="card" *ngFor="let item of sylvanianList, let i = index">
      <mat-card-header>
        <div mat-card-avatar class="card-header-image" [ngStyle]="{ 'background-image': 'url(' + image + ')'}"></div>
        <mat-card-title class="card-title">{{item?.fullName}}</mat-card-title>
        <mat-card-subtitle class="sub-title">{{item?.designation}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
          <mat-card-actions>
            <button mat-button class="card-button" (click)="viewProfile(item?.userId)">View Details</button>
            <button mat-button class="card-button">SHARE</button>
          </mat-card-actions>
 </mat-card>  
</div>
