
/* Create four equal columns that sits next to each other
And also over write left & right padding with internal stylesheet for col*/
.row > div {
  padding: 0 4px !important;
}

img {
margin-top: 8px;
vertical-align: middle;

}

