#top-nav {
    position: fixed;
    border-bottom: 4px solid;
    border-bottom-color: cornflowerblue;
    background-color: coral;
    min-height: 56px;
}

.mat-toolbar-row, .mat-toolbar-single-row {
    height: 56px;
}
