#top-nav {
    position: fixed;
    background-color: #6b5b95;
    min-height: 56px;
    z-index: 2;
    box-shadow:0px 3px 5px rgba(0, 0, 0,0.2);
}
.toolbar-menu {
  position: relative;
  text-decoration: none;
  color: #fff;
}
.top-nav-info {
  font-size: 14px;
    margin-left: 16px;    
    text-shadow: 0px 3px 5px rgb(228, 228, 228);
}
.nav-spacer {
  flex: 1 1 auto;
}
.mat-icon-button .mat-icon {
 
  color: white !important;
}


