<mat-card class="user-card">
  <mat-card-header>
    <mat-card-title class="profile-title">Edit Profile</mat-card-title>
    <button mat-raised-button class="back-buttons" (click)="backButton()">Back</button>
  </mat-card-header>
  <mat-card-content>
        <form [formGroup]="registrationForm" (ngSubmit)="saveEditedData()">
      <div class="grid-container">
        <div class=" grid-container">
          <div class="first-column">

            <mat-form-field>
              <mat-label class="text-color">Username</mat-label>
              <input matInput maxlength="30" name="userName" formControlName="userName" required id="username">
              <mat-error *ngIf="registrationForm.controls.userName.invalid">Username is required
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label class="text-color">Email</mat-label>
              <input matInput placeholder="Email" formControlName="email" required id="email">
              <mat-error *ngIf="registrationForm.controls.email.invalid">Email is required
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label class="text-color">FullName</mat-label>
              <input matInput maxlength="30" name="fullName" formControlName="fullName" required id="fullName">
              <mat-error *ngIf="registrationForm.controls.fullName.invalid">FullName is required
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label class="text-color">PhoneNo</mat-label>
              <input matInput name="phoneNo" formControlName="phoneNo" required id="phoneNo">
              <mat-error *ngIf="registrationForm.controls.phoneNo.invalid">PhoneNo is required
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label class="text-color">DOB</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="dateOfBirth" [min]="minDate" [max]="maxDate">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-error *ngIf="registrationForm.controls.dateOfBirth.invalid">DOB is required
              </mat-error>
            </mat-form-field>
                    <mat-form-field>
                      <mat-label class="text-color">Qualification</mat-label>
                      <input matInput name="qualification" formControlName="qualification" required id="qualification">
                      <mat-error *ngIf="registrationForm.controls.qualification.invalid">Qualification
                        is required</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                      <mat-label class="text-color">Address</mat-label>
                      <input matInput name="address" formControlName="address" required id="address">
                      <mat-error *ngIf="registrationForm.controls.address.invalid">Address is required
                      </mat-error>
                    </mat-form-field>
          </div>
        </div>
        <div class=" grid-container">
          <div class="first-column">
            <div>
              <mat-label class="text-color">Living Status</mat-label>
              <mat-radio-group class="radio-group" formControlName="livingStatus" required>
                <mat-radio-button class="radio-button" value="Sylvanian">Sylvanian</mat-radio-button>
                <mat-radio-button class="radio-button" value="Alumnus">Alumnus</mat-radio-button>
              </mat-radio-group>
            </div>
            <div>
              <mat-label class="text-color" >Job Status</mat-label>
              <mat-radio-group class="radio-group"  formControlName="jobStatus" required>
                <mat-radio-button class="radio-button" (click)="onClickPreparing()" value="Preparing">Preparing</mat-radio-button>
                <mat-radio-button class="radio-button" (click)="onClickDoingJob()" value="DoingJob">
                  Doing Job</mat-radio-button>
              </mat-radio-group>
            </div>
            <mat-form-field *ngIf="CompanyFlag">
            <mat-label class="text-color">Company Name</mat-label>
            <input matInput name="companyName" formControlName="companyName"  id="companyName">
             </mat-form-field>
            <mat-form-field>
              <mat-label class="text-color">Designation</mat-label>
              <input matInput name="designation" formControlName="designation" required id="designation">
              <mat-error *ngIf="registrationForm.controls.designation.invalid">Designation is
                required</mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label class="text-color">Job Location</mat-label>
              <input matInput name="jobLocation" formControlName="jobLocation" required id="jobLocation">
              <mat-error *ngIf="registrationForm.controls.jobLocation.invalid">job location is
                required</mat-error>
            </mat-form-field>
            <div>
              <button type="submit" mat-raised-button [disabled]="registrationForm.invalid">Save</button>
            </div>
        </div>
        </div>
      </div>
    </form>
  </mat-card-content>
     <mat-card-actions>
        <!-- <button type="submit" mat-raised-button [disabled]="registrationForm.invalid">Save</button> -->
      </mat-card-actions>
</mat-card>