
  .sidebar-container {
    position: absolute;
    top: 64px;
    bottom: 0;
    left: 0;
    right: 0;
    
   
  }
  .sidenav{
    
  font-family: Roboto, "Helvetica Neue", sans-serif;
  width: 250px;
  padding: 4px;
  position: fixed;
  top: 56px;
  bottom: 0;
  background: #6b5b95;
  -ms-overflow-y: auto;
  overflow-y: auto;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-direction: column;
  box-shadow:0px 3px 5px rgba(0, 0, 0,1.2);
  } 
